<!doctype html>
<html lang="en" ng-app="myApp">

<head>
    <!-- meta -->
    <meta charset="utf-8">

    <!-- styles -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/heatmap.css" />

    <title>Heatmap</title>
</head>

<body>

<div class="title">Heatmap widget</div>
<div ng-controller="SettingsCtrl" class="settings-box">
    <div class="inputs">
        <p><label>Low value color <input ng-model="settings.lowColor" /></label></p>
        <p><label>High value color <input ng-model="settings.highColor" /></label></p>
        <p><button ng-click="settings.refreshWidget();">Refresh</button></p>
    </div>
    <div class="info">Showing data for {{ settings.year }}</div>
</div>
<div ng-controller="HeatmapCtrl">
    <div id="heatmap-widget"></div>
    <div id="heatmap-widget2"></div>
</div>

<!-- scripts -->
<script src="lib/d3.min.js"></script>
<script src="lib/angular.min.js"></script>

<script src="js/init.js"></script>
<script src="js/heatmap.js"></script>

<!-- Angular App -->
<script src="js/app.js"></script>

<script src="js/services/settings.js"></script>

<script src="js/controllers/settings.js"></script>
<script src="js/controllers/heatmap.js"></script>
<!-- /Angular App -->

</body>
</html>
